/* Variables */

/* reset styles */
* {
    margin: 0;
}
/* general styles */




/* 2 column Layout */
.container {
    display: grid;
    grid-template-columns: 20% 75%;
    gap: 5%;
}

nav {
    grid-column: 1;
    grid-row: 2;
}

main {
    grid-column: 2;
    grid-row: 2;
}

header {
    background-color: aliceblue;
    grid-column: span 2;
    grid-row: 1;
}

footer {
    grid-column: span 2;
    grid-row: 3;
}

/* header stlyes */

.logo {
    background-color: red;
    height: 100px;
}
/* Sidebar Styles */
