/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------------------------General styles------------------------------------------------- */
body {
    min-height: 100vh;
    font-family: 'Inter'; font-size: 16px;
    font-weight: 400;
    /* overflow: hidden; */
}

body {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}


/* Variables */
:root {
    /* dark blue */
    --color-dark-blue: #1f2937;
    /* purple */
    --color-purple: #4f46e5;
    /* light gray */
    --color-light-gray: #f3f4f6;
    /* yellow */
    --color-yellow: #ffce2e;
    /* green */
    --color-green: #07b850;
  }

/* 2 Column Layout */
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: auto 95%;
}

nav {
    background-color: var(--color-purple);
    grid-column: 1;
    grid-row: 2;
}

main {
    padding: 30px;
    background-color: var(--color-light-gray);
    grid-column: 2;
    grid-row: 2;
}

.container-main {
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    padding: 8px 12px;
    background-color: var(--color-purple);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: 400;
}

/* .btn-primary:hover {
    background-color: #4e46e5e5;
} */

/* ----------------------------------------------Header styles------------------------------------------------- */
header {
    display: flex;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--color-dark-blue);
    grid-column: span 2;
    grid-row: 1;
    padding: 15px;
}

header p {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: white;
}

header img {
    width: 24px;
    height: 24px;
}


/*------------------------------------------------------------Sidebar Styles-------------------------------------------- */

aside nav {
    background-color: #fff;
    color: #000;
    padding: 20px;
}

aside{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-right: 1px solid #ccc;
    min-height: 100vh;
}

aside nav ul {
    list-style-type: none;
    outline-color: transparent;
    text-decoration: none;
}

nav ul li:nth-child(3) {
    border-bottom: 1px solid #ccc;
}


aside nav ul li{
    display: flex;
    align-items: center;
    padding: 10px 5px;
}

aside nav ul li a {
    margin-left: 10px;
    outline-color: transparent;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.icon {
    width: 24px;
    height: 24px;
    stroke-width: 1.5;
}

#filter-icon {
    fill: #000;
    vertical-align: middle;
    margin-right: 10px;
}



aside nav ul li a:hover {
    color: var(--color-purple);
    cursor: pointer;
}

/* -----------------------------------new contact page styles--------------------------------------------- */
.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}



form, .note-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid-item {
    grid-column: span 1;
    margin-bottom: 10px;
}

.row-1-span-2, 
.row-6-span-2 {
    grid-column: span 2;
    
}


.grid-item:last-of-type {
    /* your styles here */
    background-color: var(--color-light-gray);
    height: 50px;
    padding: 10px 20px;
    border-radius: 4px;
}

#Title {
    width: 70px;
}


label {
    display: block;
    margin-top: 10px;
}


input, select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

input:focus {
    outline: 2px solid rgb(74, 74, 255); /* Change 'red' to any color you want */
}


.save-button {
    padding: 8px 12px;
    background-color: var(--color-purple);
    color: white;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: right;
}

.save-button:hover {
    background-color: #4f46e5e5;
}

/*---------------------------------------------------------Dashboard styles-------------------------------------------- */

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-contact {
    padding: 8px 12px;
    background-color: var(--color-purple);
    color: white;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-contact:hover {
    background-color: #4e46e5e5;
}

.add-contact::before {
    content: "\002B";
    font-size: 20px;
    margin-right: 5px;
    width: auto;
    vertical-align: middle;
    line-height: 0;
}


.filters {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.filters :first-child {
    font-weight: 600;
}

.filters :not(:first-child) {
    color: #ccc;
    margin-left: 20px;
}

/* fix hover effect */
.filters :not(:first-child):hover {
    color: #ccc;
    cursor: pointer;
    border-bottom: 2px solid var(--color-purple);
    transition: 100ms ease;
}

.active {
    color: #ccc;
    border-bottom: 2px solid var(--color-purple);
}

.filters p span img {
    vertical-align: middle;
}

.view-button {
    color: var(--color-purple);
    font-weight: 600;
}

.view-button:hover{
    color:#4f46e5e5;
    cursor: pointer;
}

/* ----------------------------------------------------General table styles-------------------------------------------- */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ddd;
}

/* Style the table headers */

th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
}


th {
    background-color: #f2f2f2;

}

/* Alternating row colors for better readability */

tr{
    border-radius: 5px;
}
tr:nth-child(even) {
    background-color: #f9f9f9;

}


/*------------------------------------------------------contact details page---------------------------------------------- */
  
.to-me{
    background-color: var(--color-green);
    color: #000;
}

.to-sales-lead{
    background-color: var(--color-yellow);
    color: #000;
}

.to-me{
    background-color: #48bb78c4;
}

.to-sales-lead:hover{
    background-color: #fcd34dca;
}

.to-me::before{
    font-family: 'Material Icons';
    content: "\e769";
    font-size: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

.to-sales-lead::before{
    font-family: 'Material Icons';
    content: "\e8d4";
    font-size: 24px;
    vertical-align: middle;
    margin-right: 10px;
}



/*---------------------------------------------users page styles--------------------------------------------------- */

/* .add-user{
    
} */


/*---------------------------------------------add new contact page styles--------------------------------------------------- */


#success-message {
    display: none;
    align-items: center;
    background-color: #ffffffd2; 
    color: #12a617; 
    padding: 8px; 
    margin: 0 auto 20px;
    border-radius: 5px; 
    max-width: 50%;
    border: 2px solid #12a617;
    opacity: 0;
    
}

#success-message.show {
    display: flex;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

#success-message p {
    margin-right: 10px;
}

#success-message i {
    color: #36aa3a; 
    font-size: 24px;
}

#success-message i:first-child {
    margin-right: 10px; 
}

#success-message i:last-child {
    font-size: 16px;
    margin: 0; 
    text-align: right; 
    flex-grow: 1; 
}

#success-message i:last-child:hover {
    cursor: pointer;
}

/*---------------------------------------------Login Page Style--------------------------------------------------- */


    .form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  
    #login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-width: 30%;
    max-height: 50%;
    margin: auto;
    }
  
  #login h2 {
    text-align: center;
  }
  
    #login input[type="email"],
    #login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
    #login button[type="submit"] {
        position: relative; 
        width: 100%;
        padding: 10px 20px;
        background-color: #4f46e5;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    #login button[type="submit"]:hover {
        background-color: #4e46e5e5;
    }
    
    #login button[type="submit"]::before {
        font-family: 'Material Icons';
        font-size: 24px;
        content: '\e897';
        position: absolute;
        left: 10px;
        top: 50%; 
        transform: translateY(-50%); 
    }
    

    footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid var(--color-light-gray);
    }

/*---------------------------------------------error Styles--------------------------------------------------- */
.error {
    color: red;
}
